* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    place-items: center;
    
}

.to-do-list {
    text-align: left;
    font-family: sans-serif;
    padding: 15px 18px;
    margin: 40px 40px;
    background-color: bisque;
    border-radius: 10px;
    margin-top: 50px;
    width: 100%;
    max-width: 460px;
    align-items: center;
    

}

.to-do-list li {
    margin: 8px auto;
    padding: 5px;
    

}

button {
    border: none;
    cursor: pointer;
    background-color: rgb(249, 9, 9);
    color: #fff;
    border-radius: 10px;
    padding: 8px 8px;
}

input {
    border: none;
    padding: 10px 10px;
    margin: 10px auto;
    border-radius: 10px;
}